<%- include('../includes/head.ejs') %>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main class="portal">

        <div>
            <h1>Hey Haritha!</h1>
            <div class="box-manage">

                <h2><%= pageTitle %></h2>
                    <div class="box-area">
                    <% if(users.length!=0){ %>
                    <% for(let user of users) {%>
                        <div class="profile-link-box">
                            <div class="user-info">
                                <h3 class="user-info"><%= user.fname %></h3>
                                <h4 class="user-info"><%= user.lname %></h4>
                                <p class="user-info"><%= user.email %></p>
                            </div>
                            <div class="link-action-area">
                                <%if(approve){%>
                                <button user-id="<%=user.user_id%>" class="approve-btn">Approve</button>
                                <button user-id="<%=user.user_id%>" class="reject-btn warning-btn">Reject</button>
                                <%}else{%>
                                    <a href="/admin/users/edit/<%=user.user_id%>" class="button">Edit</a>
                                    <button user-id="<%=user.user_id%>" class="assign-btn"><i class="fas fa-plus-circle"></i> Assign</button>
                                <%}%>
                            </div>
                        </div>
                    <%}%>
                    <%}else{%>
                        <h2>No new users yet</h2>
                        <a class="button" href="/admin">Go Back</a>
                    <%}%>
                </div>

            </div>
        </div>
        <script src="/js/userApprove.js?version=<%=version%>" type="module"></script>
<%- include('../includes/end.ejs') %>